* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* UTILS */

.flex {
  display: flex;
}

/* PALETTE */
.green {
  background-color: green;
}
.red {
  background-color: red;
}
.lightblue {
  background-color: lightblue;
}
.darkred {
  background-color: darkred;
}
.blue {
  background-color: blue;
}
.darkblue {
  background-color: darkblue;
}
.dodgerblue {
  background-color: dodgerblue;
}
.lightgreen {
  background-color: lightgreen;
}
.gold {
  background-color: goldenrod;
}

/* GENERALS */

.button {
  padding: 10px;
  color: white;
  background-color: royalblue;
}
.placeholder {
  color: grey;
}
ul {
  list-style: none;
}

.space-around {
  margin: 20px;
}

/* HEADER AND NAV */

header + * {
  padding-top: 60px;
}

header {
  background-color: whitesmoke;
  width: 100%;
  height: 60px;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}
.links-row {
  margin: 15px;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  list-style: none;
}
/* MAIN */

/* JUMBO */

.jumbo {
  width: 100%;
  height: 800px;
}
.main-jumbo {
  width: 100%;
  height: 700px;
  background-color: #b4d0e7;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.jumbo-title {
  width: 80%;
  height: 40%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 30px;
}
.second-half {
  width: 80%;
  height: 40%;
}
.jumbo-text {
  width: 20%;
  height: 315px;
  padding-left: 50px;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.jumbo-img {
  width: 80%;
  height: 100%;
  text-align: center;
}
.jumbo-img > img {
  width: 55%;
}

.fa-arrow-down {
  font-size: 32px;
}

/* 2-SECTION-SHOP*/

.shop {
  width: 100%;
  min-height: 800px;
  justify-content: center;
}
.shop-container {
  width: 50%;
  min-height: 1200px;
}
.shop-select {
  margin-top: 30px;
  align-items: center;
}
.blue-circle {
  display: inline-block;
  padding: 8px;
  border: 3px solid blue;
  border-radius: 50%;
  margin: 0 5px;
}
.circle {
  display: inline-block;
  padding: 8px;
  border: 1px solid grey;
  border-radius: 50%;
  margin: 0 5px;
}
.card-container {
  margin-top: 20px;
  width: 100%;
  height: 500px;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card {
  width: 30%;
  min-height: 700px;
  background-color: white;
  flex-direction: row;
}
.card-title {
  width: 100%;
  height: 5%;
  border: 1px solid grey;
  text-align: center;
  line-height: 30px;
}
.card-content {
  width: 100%;
  height: 95%;
  border: 1px solid grey;
  padding-left: 15px;
  padding-top: 15px;
  flex-direction: column;
}
.specifics {
  margin-top: 15px;
}
.specifics > li {
  margin: 15px 0;
}
.shop-button {
  margin-bottom: 15px;
  justify-content: center;
}
.breaking-line {
  margin: 50px 0;
  width: 100px;
  border-bottom: 1px solid grey;
}
li > .fa-check {
  margin-right: 15px;
  margin-top: 15px;
  color: blue;
}
.last-card {
  width: 100%;
  height: 300px;
  margin-top: 50px;
}
.card-title-last {
  width: 100%;
  height: 10%;
  border: 1px solid lightgray;
  text-align: center;
}
.card-content-last {
  width: 100%;
  height: 90%;
  border: 1px solid lightgray;
}
.card-content-last-left {
  width: 50%;
  height: 100%;
}
.card-content-last-left > h2 {
  margin: 15px 0;
}
.card-content-last-left > p {
  margin: 100px 0;
}
.card-content-last-right {
  width: 50%;
  height: 50%;

  text-align: end;
}
.card-content-last-right > .button {
  display: inline-block;
  margin-top: 15px;
  margin-right: 20px;
  text-align: center;
}

/* 3-SECION-FIND_PARTNER */

.partner-section {
  width: 100%;
  height: 500px;

  justify-content: center;
  align-items: center;
}
.partner-container {
  width: 50%;
  height: 500px;
  align-items: center;
}
.partner-image {
  width: 50%;
}
.partner-image > img {
  width: 100%;
}
.partner-text {
  margin-left: 100px;
  width: 30%;
  height: 410px;
  flex-direction: column;
  justify-content: space-around;
}
.fake-button {
  width: fit-content;
  padding: 10px 50px;
  border: 1px solid black;
}

/*  SECTION-PRODUCT */

.product-section {
  width: 100%;
  min-height: 500px;

  justify-content: center;
  align-items: center;
}
.product-container {
  width: 50%;
  height: 900px;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
}
.product-title {
  width: 100%;
  height: 50px;
}
.product-cards {
  width: 100%;
  min-height: 600px;
  justify-content: center;
  flex-wrap: wrap;
}
.prd-card {
  width: calc(100% / 3);
}
.prd-img {
  width: 100%;
  height: 50%;
}
.prd-img > img {
  width: 100%;
  height: 100%;
}

/* PARTNERSHIP SECTION */

.partnership-section-1 {
  width: 100%;
  height: 200px;
  justify-content: center;
}
.partnership-text {
  width: 400px;
  height: 100px;
}
.partnership-text > p {
  margin-top: 40px;
}
.partnership-section-2 {
  background-color: violet;
  width: 100%;
  height: 400px;
}

.prt-sect {
  width: calc(100% / 3);
  height: 400px;
  flex-wrap: wrap;
}
.prt-text {
  flex-direction: column;
  padding-top: 30px;
  padding-left: 30px;
  background-color: white;
}
.prt-text > p {
  padding: 50px 0;
}
.prt-box {
  width: 50%;
  height: 50%;
  justify-content: center;
  align-items: center;
}
.prt-box > img {
  width: 50%;
  filter: invert(100%);
}
.prt-text > img {
  width: 50%;
}
.greenbox {
  width: 90%;
  height: 90%;
  justify-content: center;
  align-items: center;
}
.greenbox > img {
  width: 50%;
  filter: invert(100%);
}

/* PROMO */

.promo {
  background-color: #b4d0e7;
  width: 100%;
  height: 300px;
  justify-content: center;
}
.promo-box {
  width: 50%;
  justify-content: space-around;
  align-items: center;
}
.promo-text {
  color: #61082b;
  font-size: large;
  width: 400px;
  height: 200px;
  align-items: center;
}
.promo-button {
  width: 300px;
  height: 200px;
  align-items: center;
  justify-content: center;
}
.promo-button > span {
  background-color: white;
  padding: 10px;
}

/* FAQ SECTION */

.faq-section {
  width: 100%;
  height: 600px;
  justify-content: center;
}
.faq-box {
  width: 50%;
  height: 600px;
  flex-direction: column;
  justify-content: center;
}
.faq-title {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid grey;
  align-items: center;
  font-size: 24px;
}
.faq-question-section {
  width: 100%;
  height: 300px;
  flex-direction: column;
}
.faq-question {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid grey;
  justify-content: space-between;
  align-items: center;
}
footer {
  background-color: black;
  width: 100%;
  height: 600px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-links-box {
  /* background-color: chocolate; */
  width: 70%;
  height: 400px;
  flex-direction: row;
}
.footer-links {
  /* background-color: bisque; */
  color: white;
  width: 20%;
  height: 400px;
  flex-direction: column;
}
.footer-title {
  /* background-color: #61082b; */
  width: 100%;
  height: 50px;
}
.footer-content {
  /* background-color: darkslategrey; */
  width: 100%;
  height: 350px;
  flex-direction: column;
  gap: 40px;
}

.footer-language {
  /* background-color: darkmagenta; */
  width: 70%;
  height: 100px;
  align-self: center;
}
.language-select {
  /* background-color: darkred; */
  color: grey;
  width: 10%;
  height: 100px;
  border-top: 1px solid white;
  line-height: 100px;
}
