* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* UTILS */
.flex {
  display: flex;
}

/* HEADER AND NAV */
header {
  background-color: tomato;
  width: 100vw;
  height: 60px;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}
.links-row {
  margin: 15px;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  list-style: none;
}
li > .button {
  padding: 10px;
  color: white;
  background-color: rgb(48, 48, 212);
}
